<section class="l-body">
  <header class="page-header">
    <h1 class="mat-headline-4" i18n>Teams</h1>
    <button
      mat-flat-button
      color="primary"
      (click)="openCreateTeamDialog()"
      id="new-team"
      i18n
      >Create Team</button
    >
  </header>
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n>Your Teams</mat-card-title>
      <p class="description mat-body-1" i18n
        >Teams are for managing issue notifications and workflow. View
        permissions are handled through
        <a routerLink="../members"> organization membership.</a></p
      >
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ul *ngIf="(yourTeams$ | async)?.length; else noTeams">
        <mat-error class="center-text" *ngIf="errors$ | async as error">{{
          error.removeTeamMember
        }}</mat-error>
        <li *ngFor="let yourTeam of yourTeams$ | async" class="team-list-item">
          <div class="team-list-item-text">
            <a [routerLink]="[yourTeam.slug, 'members']">
              #{{ yourTeam.slug }}
            </a>
            <div>
              {{ yourTeam.memberCount | i18nPlural : memberCountPluralMapping }}
            </div>
          </div>
          <gt-loading-button
            buttonText="Leave Team"
            buttonStyle="stroked"
            [loading]="(loading$ | async)?.removeTeamMember === yourTeam.slug"
            (click)="leaveTeam(yourTeam.slug)"
            id="leave-team"
          ></gt-loading-button>
        </li>
      </ul>
      <ng-template #noTeams>
        <p *ngIf="(otherTeams$ | async)?.length; else noTeamsInOrg" i18n
          >You aren't part of any teams. Join a team below or press the "Create
          Team" button in the upper right.</p
        >
        <ng-template #noTeamsInOrg>
          <p i18n
            >You don't have any teams set up. Teams determine which users have
            access to projects in your organization.</p
          >
          <p i18n
            >To create a new team, press the "Create Team" button in the upper
            right.</p
          >
        </ng-template>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="(otherTeams$ | async)?.length">
    <mat-card-title i18n>Other Teams</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ul>
        <mat-error class="center-text" *ngIf="errors$ | async as error">{{
          error.addTeamMember
        }}</mat-error>
        <li
          *ngFor="let otherTeam of otherTeams$ | async"
          class="team-list-item"
        >
          <div class="team-list-item-text">
            <a [routerLink]="[otherTeam.slug, 'members']">
              #{{ otherTeam.slug }}
            </a>
            <div>
              {{
                otherTeam.memberCount | i18nPlural : memberCountPluralMapping
              }}
            </div>
          </div>
          <gt-loading-button
            buttonText="Join Team"
            buttonStyle="stroked"
            [loading]="(loading$ | async)?.addTeamMember === otherTeam.slug"
            (click)="joinTeam(otherTeam.slug)"
            id="leave-team"
          ></gt-loading-button>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</section>
